<!DOCTYPE html>
<html>
<body>
<canvas id="mainCanvas" width="16" height="16" style="width:256px;height:256px"></canvas>
<br>
<select name="colors" id="colors">
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
</select>
<div>
    <p>Ctrl+Click to select multiple</p>
    <select multiple id="soundfont_picker" style="min-height: 300px;">
    
    </select>
<!-- Used this button to pull soundfonts
    <button id="reload_soundfonts" onclick="getSoundfonts();">Get Soundfonts</button>
-->
</div>
<div>
    <p>Increase Decibels before conversion</p>
    <input id="db_boost" type="number" min="-50" max="50" value="0"/>
</div>
<div>
    <button id="convert">Convert</button>
</div>
<div id="mediaParent">
    <audio controls>
        <source id="source" src="" type="audio/ogg">
    </audio>
</div>


<script id="pageScript">
    window.addEventListener("load", () =>{
        const canvas = document.querySelector('#mainCanvas');
        const colorSelect = document.querySelector('#colors');
        const convert = document.querySelector('#convert');

        canvasPixels = [];
        for (let i = 0; i < canvas.height; i++){
            //populating the array
            row = [];
            for (let j = 0; j <canvas.width; j++){
                pixel = [255,255,255];
                row.push(pixel);
            }
            canvasPixels.push(row);
        }
        const canvasctx = canvas.getContext('2d');
        let currentColor = '';
        let painting = false;


        

        function hexToRgb(hex) {
            //simple hex to rgb by Tim Down on stackoverflow
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }


        function startPosition(e){
            painting = true;
            draw(e);
        }
        function endPosition(){
            painting = false;
            canvasctx.beginPath();
        }
        function changeColor(){
            currentColor = colorSelect.value;
        }
        function draw(e){
            if(!painting) return;
            let scale = 16;
            let x = Math.round(e.clientX/scale)-1;
            let y = Math.round(e.clientY/scale)-1;

            canvasctx.fillStyle = currentColor;
            colorRGB = hexToRgb(canvasctx.fillStyle);
            canvasPixels[y][x] = [colorRGB.r, colorRGB.g, colorRGB.b];
            canvasctx.rect(x,y, 1, 1);
            canvasctx.fill();
        }

        function convertTXT(){
            finalString = "";
            for (let i = 0; i < canvasPixels.length; i++){
                for (let j = 0; j < canvasPixels[0].length; j++){
                    currentPixel = canvasPixels[i][j];
                    finalString += "(" + currentPixel[0] + "," +currentPixel[1] + "," + currentPixel[2] + ") ";
                } 
                finalString += "\n";
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/imagedata/', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function(){
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200){
                    data="data:audio/ogg;base64,"+String(xhr.response);
                    var binary= convertDataURIToBinary(data);
                    var blob=new Blob([binary], {type : 'audio/ogg'});
                    var blobUrl = URL.createObjectURL(blob);

                    document.getElementById("mediaParent").innerHTML='';
                    var new_source = document.createElement("source");
                    new_source.setAttribute('id', 'source');
                    new_source.setAttribute('src', blobUrl);
                    new_source.setAttribute('type', "audio/ogg");
                    new_audio = document.createElement("audio");
                    new_audio.setAttribute('controls', 'controls');
                    new_audio.appendChild(new_source);
                    document.getElementById("mediaParent").appendChild(new_audio);
                    document.getElementById("convert").disabled = false;
                    document.getElementById("convert").innerHTML = 'Convert';
                }
            }

            let soundfonts_selected = document.querySelectorAll('#soundfont_picker option:checked');
            let soundfonts = Array.from(soundfonts_selected).map(el => el.value);
            if (soundfonts?.length < 1) {
                alert("Please select at least one instrument first!");
                return;
            }  

            xhr.send(JSON.stringify({
                img_string:finalString, 
                soundfonts: soundfonts,
                db_boost: document.getElementById("db_boost").value
            }));
            document.getElementById("convert").disabled = true;
            document.getElementById("convert").innerHTML = 'Converting';
            
        }


        convert.addEventListener("click", convertTXT);
        colorSelect.addEventListener("change", changeColor);
        canvas.addEventListener("mousedown", startPosition);
        canvas.addEventListener("mouseup", endPosition);
        canvas.addEventListener("mousemove", draw);

        //TESTING 

        //hexToRgb testing

        //yellow = #FFFF00 = rgb(255,255,0)
        //magenta = #FF00FF = rgb(255,0,255)
        //eggshell = #F0EAD6 = rgb(240,234,214)
        let hexToRGBTest = hexToRgb("#FFFF00");
        if (hexToRGBTest.r != 255 || hexToRGBTest.g != 255 || hexToRGBTest.b != 0){
            console.log("Test Failed in Hex to RGB test: yellow");
        }
        hexToRGBTest = hexToRgb("#FF00FF");
        if (hexToRGBTest.r != 255 || hexToRGBTest.g != 0 || hexToRGBTest.b != 255){
            console.log("Test Failed in Hex to RGB test: Magenta ");
        }
        hexToRGBTest = hexToRgb("#F0EAD6");
        if (hexToRGBTest.r != 240 || hexToRGBTest.g != 234 || hexToRGBTest.b != 214){
            console.log("Test Failed in Hex to RGB test: eggshell");
        }

    });

    var BASE64_MARKER = ';base64,';

    function convertDataURIToBinary(dataURI) {
        var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
        var base64 = dataURI.substring(base64Index);
        var raw = window.atob(base64);
        var rawLength = raw.length;
        var array = new Uint8Array(new ArrayBuffer(rawLength));

        for(i = 0; i < rawLength; i++) {
            array[i] = raw.charCodeAt(i);
        }
        return array;
    }

    function getSoundfonts() {
        var xhr = new XMLHttpRequest();
            xhr.open("GET", '/get_soundfonts/', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function(){
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200){
                    console.log(xhr.response);
                    let soundfonts = JSON.parse(xhr.response);
                    document.getElementById("soundfont_picker").innerHTML = '';
                    for (s in soundfonts) {
                        var sf = document.createElement("option");
                        sf.setAttribute('value', soundfonts[s]);
                        sf.innerHTML=soundfonts[s];
                        document.getElementById("soundfont_picker").appendChild(sf);
                    }
                }
            }
            xhr.send();
    }
    getSoundfonts();






    


    
</script>
<style>
#mainCanvas{
        outline: 2px solid black;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        cursor: crosshair;
}
</style>
</body>
</html>