<!DOCTYPE html>
<html>
<body>
<canvas id="mainCanvas" width="16" height="16" style="width:256px;height:256px"></canvas>
<br>
<select name="colors" id="colors">
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
</select>
<button id="convert">Convert</button>


<script id="pageScript">
    window.addEventListener("load", () =>{
    const canvas = document.querySelector('#mainCanvas');
    const colorSelect = document.querySelector('#colors');
    const convert = document.querySelector('#convert');

    canvasPixels = [];
    for (let i = 0; i < canvas.height; i++){
        //populating the array
        row = [];
        for (let j = 0; j <canvas.width; j++){
            pixel = [255,255,255];
            row.push(pixel);
        }
        canvasPixels.push(row);
    }
    const canvasctx = canvas.getContext('2d');
    let currentColor = '';
    let painting = false;


    
    function hexToRgb(hex) {
        //simple hex to rgb by Tim Down on stackoverflow
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
}
    function startPosition(e){
        painting = true;
        draw(e);
    }
    function endPosition(){
        painting = false;
        canvasctx.beginPath();
    }
    function changeColor(){
        currentColor = colorSelect.value;
    }
    function draw(e){
        if(!painting) return;
        let scale = 16;
        let x = Math.round(e.clientX/scale)-1;
        let y = Math.round(e.clientY/scale)-1;

        canvasctx.fillStyle = currentColor;
        colorRGB = hexToRgb(canvasctx.fillStyle);
        canvasPixels[y][x] = [colorRGB.r, colorRGB.g, colorRGB.b];
        canvasctx.rect(x,y, 1, 1);
        canvasctx.fill();
    }

    function convertTXT(){
        finalString = "";
        finalString+= ""
        for (let i = 0; i < canvasPixels.length; i++){
            for (let j = 0; j < canvasPixels[0].length; j++){
                currentPixel = canvasPixels[i][j];
                finalString += "(" + currentPixel[0] + "," +currentPixel[1] + "," + currentPixel[2] + ") ";
            } 
            finalString += "\n";
        }
        console.log(finalString);

        
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/imagedata/', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function(){
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200){
                console.log("String Recieved");
            }
        }
        xhr.send(finalString);
        
    }


    convert.addEventListener("click", convertTXT);
    colorSelect.addEventListener("change", changeColor);
    canvas.addEventListener("mousedown", startPosition);
    canvas.addEventListener("mouseup", endPosition);
    canvas.addEventListener("mousemove", draw);

});
</script>
<style>
#mainCanvas{
        outline: 2px solid black;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        cursor: crosshair;
}
</style>
</body>
</html>